<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modifiers.css' %}">
    <style id="style">

    </style>
</head>
<body>
    <main class="main" id="main">
    </main>
    <div class="loading-container-div attenuation-class" id="loading-div">
        <div class="wrapper-animation">
            {% load static %}
            <img class="loading-container-div__animation" src="{% static 'img/animation-loading.gif' %}" alt="">
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/repather.min.js' %}"></script>
</body>
</html>