.this_page {
    border-bottom: solid white 3px;
}
.display_none{
    display: none;
}
.small_btn{
    font-size: 1.2vw;
    border-radius: .4vw;
    max-width: max-content;
    max-height: max-content;
}
.margin-left-first{
    margin-left: 1vw;
}
.big_inp{
    width: 20vw;
    height: 7vh;
    font-size: 2vw;
}